{% extends '@nucleus/partials/particle.html.twig' %}



{% block particle %}

    {% if particle.layout == '_fifty' %}
        {% set big_size = 50 %}
        {% set small_size = 50 %}
    {% elseif particle.layout == '_shuffle' %}
        {% set big_size = 60 %}
        {% set small_size = 40 %}
    {% endif %}


    {% set row = 1 %}
    {% set index = 1 %}
    {% set topBottomLeft = '' %}
    {% set topBottomRight = '' %}

    <div class="g-grid itemslayout">

    {% for item in particle.items %}

        {% if item.float == '_top' or  item.float == '_bottom' %}

            {% if topBottomLeft == '' %}
                {% set topBottomLeft %}
                    {% if row is odd %}
                        <div class="size-{{ big_size }} topbottom row{{ row }} {{ item.float[1:] }} {% if item.file == '' %}bare{% endif %}">

                    {% else %}
                        <div class="size-{{ small_size }} topbottom row{{ row }} {{ item.float[1:] }} {% if item.file == '' %}bare{% endif %}">

                    {% endif %}


                    {% if item.float == '_top' %}
                        {% if item.file != '' %}
                            <div class="item_small " style="background-image: url({{  item.file | html  }}); ">
                            </div>
                        {% endif %}
                        {% if item.link == '1' %}
                            <div class="item_large left link" {% if item.file != '' %}style="margin-top: 60px;"{% endif %}>
                        {% else %}
                            <div class="item_large left link" >
                        {% endif %}
                    {% else %}
                        <div class="item_large left link" >
                    {% endif %}

                            <h2 class="item-title"> {{item.header}} </h2>
                            {{item.contenttext|raw}} 

                        </div>
                    {% if item.link == '1' %}
                        {% if item.linktitle|raw %}
                            <a style="background-color:#fa3637;" class="" href="{{ item.url }}"> {{ item.linktitle|raw }} <i class="arrow right-arrow"></i></a>
                        
                        {% else %}
                            <div style="background-color:#fa3637; height: 75px;" class="" href=""></div>
                        {% endif %}  
                    {% endif %}

                    {% if item.float == '_bottom' %}
                        {% if item.file != '' %}
                            <div class="item_small " style="background-image: url({{  item.file | html  }});margin-top: 60px;">
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endset %}
            {% else %}
                {% set topBottomRight %}
                    {% if row is even %}
                        <div class="size-{{ big_size }} topbottom row{{ row }} {{ item.float[1:] }} {% if item.file == '' %}bare{% endif %}">

                    {% else %}
                        <div class="size-{{ small_size }} topbottom row{{ row }} {{ item.float[1:] }} {% if item.file == '' %}bare{% endif %}">

                    {% endif %}

                    {% if item.float == '_top' %}
                        {% if item.file != '' %}
                            <div class="item_small " style="background-image: url({{  item.file | html  }});">
                            </div>
                        {% endif %}
                        {% if item.link == '1' %}
                            <div class="item_large right link" {% if item.file != '' %}style="margin-top: 60px;"{% endif %}>
                        {% else %}
                            <div class="item_large right link" >
                        {% endif %}
                    {% else %}
                        <div class="item_large right link" >
                    {% endif %}

                        <h2 class="item-title"> {{item.header}} </h2>
                        <p> {{item.contenttext | raw}} </p>

                    </div>
                    {% if item.link == '1' %}
                        {% if item.linktitle|raw %}
                            <a style="background-color:#fa3637;" class="" href="{{ item.url }}"> {{ item.linktitle|raw }} <i class="arrow right-arrow"></i></a>
                        
                        {% else %}
                            <div style="background-color:#fa3637; height: 75px;" class="" href=""></div>
                        {% endif %}  
                    {% endif %}

                    {% if item.float == '_bottom' %}
                        {% if item.file != '' %}
                            <div class="item_small " style="background-image: url({{  item.file | html  }}); margin-top: 60px;">
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endset %}
                {{ topBottomLeft }}
                {{ topBottomRight }}
                {% set topBottomLeft = '' %}
                {% set topBottomRight = '' %}
            {% endif %}


            {% if index is even %}
                {% set row = row + 1 %}
            {% endif %}

            {% set index = index + 1 %}


        {% else %}


                {% if item.float == '_left' %}
                    {% if particle.layout == '_shuffle' %}
                        <div class="size-{{ big_size - 5}} row{{ row }}">
                    {% else %}
                        <div class="size-{{ big_size }} row{{ row }}">
                    {% endif %}

                        <div class="item_small " style="background-image: url({{  item.file | html  }}); ">
                        </div>
                    </div>
                {% endif %}

                {% if particle.layout == '_shuffle' %}
                    <div class="size-{{ small_size + 5}} row{{ row }}">
                {% else %}
                    <div class="size-{{ small_size }} row{{ row }}">
                {% endif %}

                    {% if item.link == '1' %}

                        <div class="item_large link">

                            <h2 class="item-title"> {{item.header}} </h2>
                            <p> {{item.contenttext | raw}} </p>

                        </div>
                        {% if item.linktitle|raw %}
                            <a style="background-color:#fa3637;" class="" href="{{ item.url }}"> {{ item.linktitle|raw }} <i class="arrow right-arrow"></i></a>
                        
                        {% else %}
                            <div style="background-color:#fa3637; height: 75px;" class="" href=""></div>
                        {% endif %}  
                            
                    {% else %}

                        <div class="item_small" style=" background-color:#002157">

                            <h2 class="item-title"> {{item.header}} </h2>
                            <p> {{item.contenttext | raw}} </p>

                        </div>
                    {% endif %}
                </div>

                {% if item.float == '_right' %}
                    {% if particle.layout == '_shuffle' %}
                        <div class="size-{{ big_size - 5}} row{{ row }}">
                    {% else %}
                        <div class="size-{{ big_size }} row{{ row }}">
                    {% endif %}

                        <div class="item_small " style="background-image: url({{  item.file | html  }}); ">
                        </div>
                    </div>
                {% endif %}


            {% set row = row + 1 %}
            {% set index = index + 1 %}
        {% endif %}


    {% endfor %}


{% endblock %}