{% extends '@nucleus/partials/particle.html.twig' %}

{% set rand = random() %}
{% set options = ["_opt1",
"_opt2",
"_opt3",
"_opt4",
"_opt5",
"_opt6",
"_opt7",
"_opt8",
"_opt9",
"_opt10",
"_opt11",
"_opt12",
"_opt13"] %}

{% set timetable = {"_opt1":"9:30am - 11:00am",
"_opt2":"11:30am - 13:00pm",
"_opt3":"13:00pm - 14:00pm",
"_opt4":"14:00pm - 15:30pm",
"_opt5":"14:00pm - 16:00pm",
} %}


{% block javascript_footer %}
    <script>
        jQuery(function ($) {
            $("#jl-timetable-{{ rand }}").find("li").on("click", function (e) {
                e.preventDefault();
                var menu = $(this).find("a").attr("data-filter");
                $("#jl-timetable-{{ rand }}").find("li").removeClass('uk-active');
                $(this).addClass('uk-active');
                $("#jl-timetable-{{ rand }} .jl-timetable-event").removeClass('high-light');
                $("#jl-timetable-{{ rand }} .jl-timetable-event").each(function () {
                    var event = $(this).text().trim();
                    if (event.toLowerCase().replace(/\ /g, "-") == menu) {
                        $(this).addClass('high-light');
                    }
                });
            });
        });
    </script>
{% endblock %}


{% block particle %}
    {% if particle.enabled %}

        {# CREATING MENU #}
        {% set menu = [] %}
        {% for item in particle.monday %}
            {% if item.name not in menu %}
                {% set menu = menu|merge([item.name]) %}
            {% endif %}
        {% endfor %}
        {% for item in particle.tuesday %}

            {% if item.name not in menu %}
                {% set menu = menu|merge([item.name]) %}
            {% endif %}
        {% endfor %}
        {% for item in particle.wednesday %}

            {% if item.name not in menu %}
                {% set menu = menu|merge([item.name]) %}
            {% endif %}
        {% endfor %}
        {% for item in particle.thursday %}

            {% if item.name not in menu %}
                {% set menu = menu|merge([item.name]) %}
            {% endif %}
        {% endfor %}
        {% for item in particle.friday %}

            {% if item.name not in menu %}
                {% set menu = menu|merge([item.name]) %}
            {% endif %}
        {% endfor %}  
        {# CREATING MENU  - END#}


        <div>
            <h3>{{ particle.title }}</h3>
        </div>

        <div id="jl-timetable-{{ rand }}" class="jl-timetable uk-overflow-container {{ particle.class }}">
         
            <div class="uk-overflow-auto">
                <table class="jl-timetable-table uk-table uk-table-hover uk-table-striped uk-text-center">
                    <thead>
                    <tr class="">                        
                        <th class="jl-timetable-column uk-table-expand">Monday</th>
                        <th class="jl-timetable-column uk-table-expand">Tuesday</th>
                        <th class="jl-timetable-column uk-table-expand">Wednesday</th>
                        <th class="jl-timetable-column uk-table-expand">Thursday</th>
                        <th class="jl-timetable-column uk-table-expand">Friday</th>                  
                    </tr>
                    
                    </thead>
                    <tbody class="timetable-layout">
                    {% for key,slot in timetable %}
                        {% set empty = true %}
                        {% set row %}
                        <tr class="jl-timetable-row">
                            
                            <td class="jl-timetable-event">
                      
                                {% for item in particle.monday  if key == item.time %}
                                    {{ slot }}<br/>
                                    {{ item.name }}
                                 {% set empty = false %}
                                {% endfor %}
                            </td>
                            <td class="jl-timetable-event">
                                {% for item in particle.tuesday  if key == item.time %}
                                    {{ slot }}<br/>
                                    {{ item.name }}
                                    {% set empty = false %}
                                {% endfor %}
                            </td>
                            <td class="jl-timetable-event">
                                {% for item in particle.wednesday  if key == item.time %}
                                    {{ slot }}<br/>
                                    {{ item.name }}
                                    {% set empty = false %}
                                {% endfor %}
                            </td>
                            <td class="jl-timetable-event">
                                {% for item in particle.thursday  if key == item.time %}
                                    {{ slot }}<br/>
                                    {{ item.name }}
                                    {% set empty = false %}
                                {% endfor %}
                            </td>
                            <td class="jl-timetable-event">
                                {% for item in particle.friday  if key == item.time %}
                                    {{ slot }}<br/>
                                    {{ item.name }}
                                    {% set empty = false %}
                                {% endfor %}
                            </td>                          
                        </tr>
                        {% endset %}
                        {%if empty == false %}
                            {{row}}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
  

    {% endif %}
{% endblock %}
