{% extends '@nucleus/partials/particle.html.twig' %}
{% block particle %}
      <div class="sample-content">
        <div class="g-grid">          
            {% set count = 0 %}
            {% for event in particle.events %}  

                {% set count = 100/particle.events|length %}
                {% set count = count[0:2] %}
                
           
                <div class="splitlink" style="flex:{{count}}%">
               
                        <div class="g-block picturebox overlay blue" style="background-image:url({{ event.image|url }})" alt="">
                           
                        </div>                         
                            
                </div>
             
            {% endfor %}
        </div>
    </div>    
{% endblock %}

        
    