    .itemid-106 {
        .banner {
            background-image: url(../images/desktop/banner/about-the-wirral-banner.jpg);
            height: 275px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #g-main>div>div:nth-child(3)>div>div {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        #g-main>div>div:nth-child(4)>div:nth-child(2)>div {
            margin-left: 0px;
            padding-left: 10px;
        }
        #g-main>div>div:nth-child(4)>div:nth-child(1)>div {
            margin-right: 0px;
            padding-right: 10px;
        }
    }
    
    @media (min-width: 768px) and ( max-width:959px) {
        .itemid-106 {
            .banner {
                background-image: url(../images/tablet/banner/about-the-wirral-banner.jpg);
                height: 245px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #g-main>div>div:nth-child(3)>div>div {
                margin-bottom: 0;
                padding-bottom: 0;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
    
    @media (max-width: 767px) {
        .itemid-106 {
            .banner {
                background-image: url(../images/mobile/banner/about-the-wirral-banner.jpg);
                height: 225px;
                background-repeat: no-repeat;
                background-size: cover;
                background-size: cover;
            }
            #g-main {
                margin-bottom: 35px;
            }
            #g-main img {
                object-fit: cover;
                height: 315px;
            }
            #g-main>div>div:nth-child(4)>div:nth-child(1)>div {
                margin: 0.625rem;
                padding: 0.938rem;
            }
            #g-main>div>div:nth-child(4)>div:nth-child(2)>div {
                margin: 0.625rem;
                padding: 0.938rem;
                margin-top: 0;
                padding-top: 0;
            }
            #g-main>div>div:nth-child(3)>div>div {
                margin-bottom: 0;
                padding-bottom: 0;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }