.itemid-105 {
    .steve-image img {
        width: 100%;
        height: 440px;
    }
    .banner {
        background-image: url(../images/desktop/banner/about-us-banner.jpg);
        height: 275px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .caption {
        background-color: #ebebeb;
        padding: 5px;
        padding-left: 30px;
        margin-top: 10px;
    }
    .caption>p {
        font-size: 13px;
        line-height: 13px;
    }
    #g-main>div>div:nth-child(4)>div:nth-child(1)>div>div>div>div>div {
        display: none;
    }
}

@media (min-width:768px) and (max-width:959px) {
    /**** About ****/
    .itemid-105 {
        .banner {
            background-image: url(../images/tablet/banner/about-us-banner.jpg);
            height: 245px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #g-main>div>div:nth-child(3)>div>div {
            padding-top: 0;
            margin-top: 0;
        }
        #g-main>div>div:nth-child(4)>div:nth-child(1)>div {
            margin-top: 0;
            padding-top: 5px;
        }
        .steve-image img {
            width: 100%;
            height: 350px;
        }
        #g-main>div>div:nth-child(4)>div:nth-child(1)>div>div>div>div>div {
            float: right;
            width: 50%;
            padding-left: 20px;
            padding-bottom: 20px;
            display: block;
        }
        #g-main .size-50 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 100%;
            -moz-flex: 0 100%;
            -ms-flex: 0 100%;
            flex: 0 100%;
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    /**** About ****/
    .itemid-105 {
        .banner {
            background-image: url(../images/mobile/banner/about-us-banner.jpg);
            height: 225px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #g-main>div>div:nth-child(3)>div>div>div>div>img {
            object-fit: cover;
            height: 300px;
        }
        .steve-image img {
            width: 100%;
            height: 350px;
            margin-top: -30px;
            object-fit: cover;
        }
        #g-main>div>div:nth-child(3)>div>div {
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;
        }
        #g-main .g-content {
            margin-bottom: 0;
        }
    }
}