.itemid-107 {
    .banner {
        background-image: url(../images/desktop/banner/accommodation-banner.jpg);
        height: 275px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #g-main {
        margin-bottom: 55px;
    }
    .accommodation-offers>div {
        margin-bottom: 0;
    }
    .accommodation-liverpool>div {
        margin-top: 0;
        margin-bottom: 0;
    }
    .accommodation-wirral>div {
        margin-top: 0;
        margin-bottom: 0;
    }
    .accommodation-image>div {
        margin-top: 0;
        padding-top: 0;
    }
    .accommodation-liverpool ul {
        line-height: 17px;
    }
    .accommodation-liverpool li {
        padding-left: 1.5em;
        color: #424753;
        font-family: 'Open Sans';
        font-size: 17px;
    }
    .accommodation-wirral ul {
        line-height: 17px;
    }
    .accommodation-wirral li {
        padding-left: 1.5em;
        color: #424753;
        font-family: 'Open Sans';
        font-size: 17px;
    }
}

@media (min-width: 768px) and ( max-width:959px) {
    .itemid-107 {
        .banner {
            background-image: url(../images/tablet/banner/accommodation-banner.jpg);
            height: 245px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #g-main .g-grid:nth-of-type(3) {
            flex-flow: row-reverse !important;
            display: flex !important;
        }
        #g-main {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .itemid-107 {
        h2[itemprop="headline"] {
            color: #282d6e;
            font-size: 41px;
            font-family: 'Mermaid';
            margin-bottom: -40px;
            margin-top: 30px;
            line-height: 50px;
        }
        .banner {
            background-image: url(../images/mobile/banner/accommodation-banner.jpg);
            height: 225px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .accommodation-liverpool>div {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
        }
        .accommodation-wirral>div {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
        }
        .accommodation-liverpool li {
            padding-left: 1.5em;
            color: #424753;
            font-family: 'Open Sans';
            font-size: 17px;
            line-height: 20px;
        }
        .accommodation-wirral li {
            padding-left: 1.5em;
            color: #424753;
            font-family: 'Open Sans';
            font-size: 17px;
            line-height: 20px;
        }
        #g-main img {
            object-fit: cover;
            height: 315px;
        }
        #g-main img {
            object-fit: cover;
            height: 280px;
        }
        .accommodation-image>div {
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}