.itemid-120 {
    #g-main {
        margin-bottom: 40px;
    }
    .banner {
        background-image: url(../images/desktop/banner/contact-us-banner.jpg);
        height: 275px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h3.g-title {
        color: #d61822;
        font-family: 'Mermaid';
        margin-bottom: 35px;
        font-size: 26px;
        margin-top: -7px;
    }
    .contact-us>p {
        line-height: 6px;
    }
    .contact-us>p>a {
        margin-left: 15px;
        color: #424753;
    }
    .contact-us>p>a:hover {
        color: $red;
    }
    .contact-us .email {
        color: $red;
    }
    .contact-us .email:hover {
        color: $dblue;
    }
    .social .social-link {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 220px 5px 0 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #g-sectiona {
        background-color: $red;
        background-image: none;
        height: auto;
        margin-top: 35px;
    }
    #g-sectiona img {
        width: 100%;
    }
    #g-sectionc {
        background-color: white;
    }
    .rsform h2 {
        text-align: center;
        color: white;
        font-family: 'Mermaid';
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    input[type="text"],
    input[type="email"],
    .uneditable-input,
    {
        height: 55px;
        padding: 20px;
        margin-bottom: 40px;
        border-radius: 0;
    }
    input[type="color"]:hover,
    input[type="date"]:hover,
    input[type="datetime"]:hover,
    input[type="datetime-local"]:hover,
    input[type="email"]:hover,
    input[type="month"]:hover,
    input[type="number"]:hover,
    input[type="password"]:hover,
    input[type="search"]:hover,
    input[type="tel"]:hover,
    input[type="text"]:hover,
    input[type="time"]:hover,
    input[type="url"]:hover,
    input[type="week"]:hover,
    input:not([type]):hover,
    textarea:hover {
        box-shadow: inset 0 0px 0px #282d6e, 0 0 24px #282d6e;
        border-color: #becaa9;
    }
    textarea {
        border-radius: 0;
        padding: 20px;
        margin-bottom: 40px;
    }
    .rsform .g-content {
        padding-right: 18px;
        margin-right: 0;
        padding-bottom: 0px;
        margin-bottom: 0;
        padding-top: 0px;
        margin-top: 0;
    }
    input::placeholder,
    textarea::placeholder {
        color: $red;
        font-family: 'Mermaid';
        font-size: 18px;
    }
    #rsform_3_page_0>div>div.g-block.size-100>div>div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        margin: 0px 0 70px;
    }
    button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger,
    #Send {
        padding: 0.9em 4.5em;
        cursor: pointer;
        background: #282d6e;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 21px;
        font-family: 'Mermaid';
        color: white;
        text-transform: none;
        line-height: 21px;
        width: 258px;
        text-align: center;
    }
    #Send:hover,
    button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger:hover,
    {
        color: $dblue;
    }
    .hvr-bounce-to-bottom:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white !important;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
}

@media (min-width:768px) and (max-width:959px) {
    .itemid-120 {
        .banner {
            background-image: url(../images/tablet/banner/contact-us-banner.jpg);
            height: 244px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #g-main {
            margin-bottom: -20px;
        }
        #g-main .size-20 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 25%;
            -moz-flex: 0 25%;
            -ms-flex: 0 25%;
            flex: 0 25%;
            width: 25%;
        }
        #g-main .size-80 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 75%;
            -moz-flex: 0 75%;
            -ms-flex: 0 75%;
            flex: 0 75%;
            width: 75%;
        }
        .social .social-link {
            display: inline-block;
            height: 50px;
            width: 50px;
            margin: 280px 5px 0 0;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            float: right;
        }
        .contact-us {
            margin-top: 45px;
        }
        #g-sectiona .size-60 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 96%;
            -moz-flex: 0 96%;
            -ms-flex: 0 96%;
            flex: 0 96%;
            width: 96%;
        }
        #g-sectiona .size-20 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 4%;
            -moz-flex: 0 4%;
            -ms-flex: 0 4%;
            flex: 0 4%;
            width: 4%;
        }
        form {
            margin: 0px 0 50px;
        }
        .rsform h2 {
            text-align: center;
            color: white;
            font-family: 'Mermaid';
            font-size: 45px;
            margin-top: 35px;
            margin-bottom: 20px;
        }
        #g-sectiona img {
            object-fit: cover;
            height: 380px;
        }
    }
}

@media (max-width: 767px) {
    .itemid-120 {
        .banner {
            background-image: url(../images/mobile/banner/contact-us-banner.jpg);
            height: 225px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .social .social-link {
            display: inline-block;
            height: 50px;
            width: 50px;
            margin: 0px 5px 0 0;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .social {
            height: 85px;
            margin: 0 auto;
            position: relative;
            text-align: center;
        }
        #g-sectiona img {
            object-fit: cover;
            height: 315px;
        }
        form {
            margin: 0px 0 58px;
        }
        .rsform h2 {
            text-align: center;
            color: white;
            font-family: 'Mermaid';
            font-size: 45px;
            margin-top: 35px;
            margin-bottom: 20px;
        }
        .rsform .g-content {
            padding-right: 20px;
            margin-right: 0;
            padding-bottom: 0px;
            margin-bottom: 0;
            padding-top: 0px;
            margin-top: 0;
            padding-left: 20px;
        }
        input[type="text"],
        input[type="email"],
        .uneditable-input {
            height: 55px;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 0;
        }
        button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger {
            display: none;
        }
        #Send {
            cursor: pointer;
            background: #282d6e;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 25px;
            font-family: 'Mermaid';
            color: white;
            text-transform: none;
            line-height: 21px;
            width: 100%;
            text-align: center;
            padding: 20px 50px;
            margin: 0 auto;
            margin-top: -15px;
        }
    }
}

@media (min-width: 320px) and (max-width: 342px) {
    .itemid-120 {
        .contact-us .email {
            color: #d61822;
            margin-top: 12px;
            position: relative;
            display: block;
            margin-left: 0;
        }
    }
}