            .itemid-109,
            .outline-16 {
                .banner {
                    background-image: url(../images/desktop/banner/25-banner.jpg);
                    height: 275px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                #g-main>div>div:nth-child(4)>div.g-block.size-30>div>div>div>table>tbody>tr>td:nth-child(1) {
                    width: 172px;
                }
                .course-introduction ul {
                    list-style-type: disc !important;
                    margin-top: 1em;
                    column-count: 3;
                    column-gap: 0.5em;
                    list-style-position: inside;
                }
                .single-ul {
                    list-style-type: disc !important;
                    margin-top: 0em !important;
                    column-count: 1 !important;
                    column-gap: 0 !important;
                    list-style-position: inside;
                }
                .course-image>img {
                    width: 800px;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                    transition: all 1s ease;
                }
                .course-details {
                    background-color: #282d6d;
                    height: 506px;
                    width: 395px;
                    margin-left: 0;
                }
                .course-description {
                    margin-bottom: -10px;
                }
                .course-details>h4 {
                    margin-top: 0;
                    padding-top: 35px;
                    padding-left: 30px;
                    color: white;
                    font-family: 'Mermaid';
                    font-size: 26px;
                    margin-bottom: 0px;
                    line-height: 30px;
                }
                .course-details>p {
                    font-size: 17px;
                    color: white;
                    padding-left: 30px;
                    padding-right: 50px;
                    font-family: 'Open Sans';
                }
                .course-info {
                    margin-top: 20px;
                    margin-left: 25px;
                    margin-bottom: 30px;
                }
                table {
                    border: 0px solid #dce2e9;
                }
                td {
                    padding-bottom: 0px;
                    border: 0px solid #dce2e9;
                    color: white
                }
                #g-main>div>div:nth-child(3)>div.g-block.size-70>div {
                    padding-right: 0;
                    margin-right: 0;
                }
                #g-main>div>div:nth-child(3)>div.g-block.size-30>div {
                    margin-left: 0;
                    padding-left: 0;
                }
                ul {
                    color: #424753;
                    line-height: 22px;
                    font-size: 17px;
                }
                /**** Contact Form ****/
                #g-main {
                    margin-bottom: 0;
                    position: relative;
                }
                #g-sectiona {
                    background-color: $red;
                    background-image: none;
                    height: auto;
                    margin-top: 35px;
                }
                #g-sectionc {
                    background-color: white;
                }
                .rsform h2 {
                    text-align: center;
                    color: white;
                    font-family: 'Mermaid';
                    font-size: 45px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                input[type="text"],
                input[type="email"],
                .uneditable-input,
                {
                    height: 55px;
                    padding: 20px;
                    margin-bottom: 40px;
                    border-radius: 0;
                }
                input[type="color"]:hover,
                input[type="date"]:hover,
                input[type="datetime"]:hover,
                input[type="datetime-local"]:hover,
                input[type="email"]:hover,
                input[type="month"]:hover,
                input[type="number"]:hover,
                input[type="password"]:hover,
                input[type="search"]:hover,
                input[type="tel"]:hover,
                input[type="text"]:hover,
                input[type="time"]:hover,
                input[type="url"]:hover,
                input[type="week"]:hover,
                input:not([type]):hover,
                textarea:hover {
                    box-shadow: inset 0 0px 0px #282d6e, 0 0 24px #282d6e;
                    border-color: #becaa9;
                }
                textarea {
                    border-radius: 0;
                    padding: 20px;
                    margin-bottom: 40px;
                }
                .rsform .g-content {
                    padding-right: 18px;
                    margin-right: 0;
                    padding-bottom: 0px;
                    margin-bottom: 0;
                    padding-top: 0px;
                    margin-top: 0;
                }
                input::placeholder,
                textarea::placeholder {
                    color: $red;
                    font-family: 'Mermaid';
                    font-size: 18px;
                }
                #rsform_3_page_0>div>div.g-block.size-100>div>div:nth-child(2) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                form {
                    margin: 0px 0 70px;
                }
                button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger,
                #Send {
                    padding: 0.9em 4.5em;
                    cursor: pointer;
                    background: #282d6e;
                    text-decoration: none;
                    -webkit-tap-highlight-color: transparent;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 21px;
                    font-family: 'Mermaid';
                    color: white;
                    text-transform: none;
                    line-height: 21px;
                    width: 258px;
                    text-align: center;
                }
                #Send:hover,
                button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger:hover,
                {
                    color: $dblue;
                }
                .hvr-bounce-to-bottom:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: white !important;
                    -webkit-transform: scaleY(0);
                    transform: scaleY(0);
                    -webkit-transform-origin: 50% 0;
                    transform-origin: 50% 0;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: .5s;
                    transition-duration: .5s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                .course-details form {
                    margin: 10px 35px 0px;
                }
                /**** Timetable Layout ****/
                .timetable h3 {
                    color: #d61822;
                    font-family: 'Mermaid';
                    margin-bottom: 10px;
                    font-size: 26px;
                    margin-top: -7px;
                }
                .timetable-layout>.jl-timetable-row:nth-of-type(3) {
                    background-color: $red;
                }
                .timetable-layout>.jl-timetable-row:nth-of-type(4) {
                    border-bottom: 1px solid black;
                }
                .timetable-layout>.jl-timetable-row:nth-of-type(3)>.jl-timetable-event {
                    border-left: 0px solid black;
                    border-right: 0px solid black;
                    color: white;
                    padding: 0px;
                }
                .uk-table-striped tbody tr:nth-of-type(odd) {
                    background: white;
                }
                .uk-table thead th {
                    vertical-align: bottom;
                    color: $dblue;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: 'Mermaid';
                    padding: 15px;
                    background-color: white;
                    border: 1px solid black;
                    font-size: 19px;
                }
                .jl-timetable-event {
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    color: black;
                    padding: 15px;
                }
                #g-main>div>div:nth-child(5)>div>div>div>div>div>div:nth-child(1) {
                    margin-top: -30px;
                }
                #g-main>div>div:nth-child(1)>div>div>div>div>ul>li:nth-child(1) {
                    display: none;
                }
                .breadcrumb {
                    padding: 8px 15px;
                    margin: 0 0 20px;
                    list-style: none;
                    background-color: transparent;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    right: 16%;
                    top: 65px;
                    position: absolute;
                }
                #g-main>div>.g-grid:nth-of-type(1) {
                    height: 0;
                }
                .moduletable .breadcrumb span {
                    display: inline-block;
                    color: #292c6f;
                }
                .moduletable .breadcrumb li.active span {
                    color: #d61822;
                }
                .moduletable .breadcrumb span.divider {
                    position: relative;
                    vertical-align: top;
                    width: 21px;
                    height: 21px;
                    line-height: 1.5;
                    color: #d61822 !important;
                }
                .moduletable .breadcrumb span.divider:before {
                    text-align: center;
                    font-family: FontAwesome;
                    content: "";
                    position: absolute;
                    vertical-align: middle;
                    color: red;
                }
            }
            
            .itemid-109 {
                #g-main>div>div:nth-child(5)>div>div>div>div>div>div:nth-child(1) {
                    margin-top: -85px;
                }
            }
            
            .itemid-118 {
                div[itemprop="articleBody"] {
                    display: block;
                    margin-top: 35px;
                }
            }
            
            .blink_me {
                animation: blinker 1s linear infinite;
                color: red;
            }
            
            @keyframes blinker {
                50% {
                    opacity: 0;
                }
            }
            
            @media (min-width:960px) and (max-width:1199px) {
                #g-main>div>div:nth-child(3)>div.g-block.size-70.course-images {
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    box-flex: 0;
                    -webkit-flex: 0 60%;
                    -moz-flex: 0 60%;
                    -ms-flex: 0 60%;
                    flex: 0 60%;
                    width: 60%;
                }
            }
            
            .itemid-109 .course-details {
                background-color: #282d6d;
                height: 535px;
                width: 395px;
                margin-left: 0;
            }
            
            @media (min-width: 768px) and (max-width: 959px) {
                .itemid-109,
                .outline-16 {
                    .banner {
                        background-image: url(../images/tablet/banner/25-banner.jpg);
                        height: 244px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .breadcrumb {
                        padding: 8px 15px;
                        margin: 0 0 20px;
                        list-style: none;
                        background-color: transparent;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                        right: 2%;
                        top: 10px;
                        position: absolute;
                    }
                    h3.g-title {
                        color: #d61822;
                        font-family: 'Mermaid';
                        margin-bottom: -10px;
                        font-size: 26px;
                        margin-top: -8px;
                        line-height: 40px;
                    }
                    .course-introduction ul {
                        list-style-type: disc !important;
                        margin-top: 1em;
                        column-count: 1;
                        column-gap: 0.5em;
                        list-style-position: inside;
                    }
                    #g-main .size-70 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 100%;
                        -moz-flex: 0 100%;
                        -ms-flex: 0 100%;
                        flex: 0 100%;
                        width: 100%;
                    }
                    #g-main .size-30 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 100%;
                        -moz-flex: 0 100%;
                        -ms-flex: 0 100%;
                        flex: 0 100%;
                        width: 100%;
                    }
                    .course-details {
                        background-color: #282d6d;
                        height: 430px;
                        width: 100%;
                        margin-left: 0;
                    }
                    .course-images .g-content {
                        margin-top: 0;
                        padding-top: 0;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    .course-introduction .g-content {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    #g-main>div>div:nth-child(5)>div.g-block.size-70>div {
                        padding-bottom: 0;
                        margin-bottom: -10px;
                    }
                    #g-main>div>div:nth-child(5)>div.g-block.size-30>div {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    .timetable h3 {
                        color: #d61822;
                        font-family: 'Mermaid';
                        margin-bottom: 15px;
                        font-size: 26px;
                        margin-top: -22px;
                    }
                    .uk-table thead th {
                        vertical-align: bottom;
                        color: #282d6e;
                        text-align: center;
                        text-transform: uppercase;
                        font-family: 'Mermaid';
                        padding: 10px;
                        background-color: white;
                        border: 1px solid black;
                        font-size: 14px;
                    }
                    .jl-timetable-event {
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        color: black;
                        padding: 10px;
                        font-size: 12px;
                    }
                    #g-sectiona {
                        background-color: #d61822;
                        background-image: none;
                        height: auto;
                        margin-top: 0;
                    }
                    #g-sectiona .size-60 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 96%;
                        -moz-flex: 0 96%;
                        -ms-flex: 0 96%;
                        flex: 0 96%;
                        width: 96%;
                    }
                    #g-sectiona .size-20 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 4%;
                        -moz-flex: 0 4%;
                        -ms-flex: 0 4%;
                        flex: 0 4%;
                        width: 4%;
                    }
                    form {
                        margin: 0px 0 50px;
                    }
                    .rsform h2 {
                        text-align: center;
                        color: white;
                        font-family: 'Mermaid';
                        font-size: 45px;
                        margin-top: 35px;
                        margin-bottom: 20px;
                    }
                }
                .itemid-118 {
                    div[itemprop="articleBody"] {
                        display: block;
                        margin-top: 50px;
                    }
                    .banner {
                        background-image: url(../images/tablet/banner/25-banner.jpg);
                        height: 244px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .itemid-110,
                .itemid-109,
                .itemid-115 {
                    .course-details {
                        background-color: #282d6d;
                        height: 475px;
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            
            @media (max-width: 767px) {
                .itemid-109,
                .outline-16 {
                    input[type="image"] {
                        width: 270px;
                        height: auto;
                    }
                    .banner {
                        background-image: url(../images/mobile/banner/25-banner.jpg);
                        height: 244px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .breadcrumb {
                        display: none;
                    }
                    h3.g-title {
                        color: #d61822;
                        font-family: 'Mermaid';
                        margin-bottom: -10px;
                        font-size: 26px;
                        margin-top: -8px;
                        line-height: 40px;
                    }
                    .course-introduction ul {
                        list-style-type: disc !important;
                        margin-top: 1em;
                        column-count: 1;
                        column-gap: 0.5em;
                        list-style-position: inside;
                    }
                    #g-main .size-70 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 100%;
                        -moz-flex: 0 100%;
                        -ms-flex: 0 100%;
                        flex: 0 100%;
                        width: 100%;
                    }
                    #g-main .size-30 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 100%;
                        -moz-flex: 0 100%;
                        -ms-flex: 0 100%;
                        flex: 0 100%;
                        width: 100%;
                    }
                    .course-details {
                        background-color: #282d6d;
                        height: 500px;
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                    .course-images .g-content {
                        margin-top: 0;
                        padding-top: 0;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    #g-main>div>div:nth-child(5)>div.g-block.size-70>div {
                        padding-bottom: 0;
                        margin-bottom: -10px;
                    }
                    #g-main>div>div:nth-child(5)>div.g-block.size-30>div {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    .timetable h3 {
                        color: #d61822;
                        font-family: 'Mermaid';
                        margin-bottom: 25px;
                        font-size: 26px;
                        margin-top: -15px;
                        line-height: 35px;
                    }
                    .uk-table thead th {
                        vertical-align: bottom;
                        color: #282d6e;
                        text-align: center;
                        text-transform: uppercase;
                        font-family: 'Mermaid';
                        padding: 10px;
                        background-color: white;
                        border: 1px solid black;
                        font-size: 14px;
                    }
                    .jl-timetable-event {
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        color: black;
                        padding: 10px;
                        font-size: 12px;
                    }
                    #g-sectiona {
                        background-color: #d61822;
                        background-image: none;
                        height: auto;
                        margin-top: 0;
                    }
                    #g-sectiona .size-60 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 96%;
                        -moz-flex: 0 96%;
                        -ms-flex: 0 96%;
                        flex: 0 96%;
                        width: 96%;
                    }
                    #g-sectiona .size-20 {
                        -webkit-box-flex: 0;
                        -moz-box-flex: 0;
                        box-flex: 0;
                        -webkit-flex: 0 4%;
                        -moz-flex: 0 4%;
                        -ms-flex: 0 4%;
                        flex: 0 4%;
                        width: 4%;
                    }
                    form {
                        margin: 0px 0 60px;
                    }
                    .rsform h2 {
                        text-align: center;
                        color: white;
                        font-family: 'Mermaid';
                        font-size: 45px;
                        margin-top: 35px;
                        margin-bottom: 20px;
                    }
                    .course-images {
                        display: none;
                    }
                    #g-main>div>div:nth-child(4)>div.g-block.size-30>div {
                        margin: 0;
                        padding: 0;
                    }
                    table.jl-timetable-table td:nth-child(2)~td,
                    table.jl-timetable-table th:nth-child(2)~th,
                    {
                        display: none;
                    }
                    .rsform .g-content {
                        padding-right: 18px;
                        margin-right: 0;
                        padding-bottom: 0px;
                        margin-bottom: 0;
                        padding-top: 0px;
                        margin-top: 0;
                        margin-left: 0;
                        padding-left: 0;
                    }
                    #Send {
                        cursor: pointer;
                        background: #282d6e;
                        text-decoration: none;
                        -webkit-tap-highlight-color: transparent;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 25px;
                        font-family: 'Mermaid';
                        color: white;
                        text-transform: none;
                        line-height: 21px;
                        width: 100%;
                        text-align: center;
                        padding: 20px 50px;
                        margin: 0 auto;
                        margin-top: -15px;
                    }
                    input[type="text"],
                    input[type="email"],
                    .uneditable-input,
                    {
                        height: 55px;
                        padding: 20px;
                        margin-bottom: 20px !important;
                        border-radius: 0;
                    }
                }
                .itemid-110,
                .itemid-115 {
                    .course-details {
                        background-color: #282d6d;
                        height: 530px;
                        width: 100%;
                        margin-left: 0;
                    }
                }
                .itemid-109 {
                    .course-details {
                        background-color: #282d6d;
                        height: 570px;
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }