            @import "dependencies";
            @import "video-feature";
            @import "feedback";
            /**** Colors ****/
            
            $dblue:#282d6e;
            $red:#d61822;
            /**** Fonts ****/
            
            @import url('https://fonts.googleapis.com/css?family=Open+Sans');
            @include font-face('Mermaid',
            'gantry-theme://fonts/Mermaid-Bold');
            /**** Pages ****/
            
            @import "homepage";
            @import "about";
            @import "a-t-w";
            @import "accommodation";
            @import "project";
            @import "contact";
            @import "courses";
            @import "menu";
            /**** General ****/
            
            .itemid-169 {
                div[itemprop="articleBody"] {
                    display: block;
                }
                h2[itemprop="headline"] {
                    color: #282d6e;
                    font-size: 46px;
                    font-family: 'Mermaid';
                    margin-bottom: -25px;
                }
                ul {
                    color: #424753;
                }
                .banner {
                    background-image: url(../images/desktop/banner/contact-us-banner.jpg);
                    height: 275px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            
            h2[itemprop="headline"] {
                color: $dblue;
                font-size: 46px;
                font-family: 'Mermaid';
                margin-bottom: -70px;
            }
            
            h3.g-title {
                color: $red;
                font-family: 'Mermaid';
                margin-bottom: -10px;
                font-size: 26px;
                margin-top: -7px;
            }
            
            .privacy {
                color: white;
                text-align: center;
                width: 100%;
            }
            
            .privacy>a {
                color: $dblue;
                text-align: center;
            }
            
            div[itemprop="articleBody"] {
                display: none;
            }
            
            #g-top-header {
                background-color: #ededed;
                height: 40px;
            }
            
            body p {
                margin: 1rem 0;
                font-size: 17px;
                line-height: 20px;
            }
            
            #g-navigation .g-main-nav .g-toplevel {
                line-height: 0;
            }
            
            a {
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
            
            ul {
                color: white;
            }
            
            #g-main {
                margin-bottom: 20px;
            }
            /**** Top Bar ****/
            
            .header-tagline {
                font-size: 12px;
                font-family: 'Open Sans';
                margin-top: 11px;
                color: $dblue;
            }
            
            .header-phone {
                font-size: 12px;
                font-family: 'Open Sans';
                color: $dblue;
            }
            
            .header-phone:hover {
                color: $red;
            }
            
            .header-email {
                font-size: 12px;
                font-family: 'Open Sans';
                color: $dblue;
            }
            
            .header-email:hover {
                color: $red;
            }
            /**** Header ****/
            
            #g-header {
                background-color: white;
                padding: 0rem 0;
                position: relative;
                z-index: 10;
                background: none;
                background-size: cover;
                height: 160px;
            }
            
            a.large-phone {
                color: $dblue !important;
                font-size: 42px;
                font-family: 'Mermaid';
                margin-right: 25px;
                position: relative;
                bottom: 10px;
            }
            
            a.large-phone:hover {
                color: $red !important;
            }
            
            #g-header>div>div>div.g-block.size-50.align-right {
                background-image: url(../images/desktop/backgrounds/liverbird.png);
                background-repeat: no-repeat;
                background-position: 187px -40px;
            }
            /**** Social Media Header ****/
            
            .social-link {
                display: inline-block;
                height: 50px;
                width: 50px;
                margin: 28px 5px 0 0;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            
            .social-link-footer {
                display: inline-block;
                height: 50px;
                width: 50px;
                margin: 0px 5px 0 0;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                top: 50px;
                position: relative;
            }
            
            .facebook {
                background-image: url(../images/desktop/icons/fb-red.png);
                background-size: cover;
            }
            
            .twitter {
                background-image: url(../images/desktop/icons/tw-red.png);
                background-size: cover;
            }
            
            .tripadvisor {
                background-image: url(../images/desktop/icons/trip-red.png);
                background-size: cover;
            }
            /**** Navigation ****/
            
            #g-navigation {
                background: $dblue;
                color: #fff;
                position: relative;
                z-index: 11;
                margin: 0;
                width: auto;
                padding: 0;
                line-height: 1;
                display: block;
                position: relative;
                font-family: 'Mermaid';
            }
            
            #g-navigation>div>div>div>div {
                height: 50px;
                padding: 0;
                margin: 0;
            }
            
            #g-navigation .g-main-nav .g-toplevel>li>.g-menu-item-container {
                color: white;
                padding: 8px 23px;
                font-family: 'Mermaid';
                margin-top: 6px;
            }
            
            .main-nav>div>nav>ul>li.g-menu-item.g-menu-item-link-parent.g-menu-item-type-url.g-parent.g-standard>a>span.g-menu-item-content>span {
                font-size: 18px;
                font-family: 'Mermaid';
                letter-spacing: 1px;
            }
            
            .main-nav>div>nav>ul>li:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 0;
                top: 0;
                z-index: 0;
                background: #1c2159;
                -webkit-transition: height .2s;
                -moz-transition: height .2s;
                -ms-transition: height .2s;
                -o-transition: height .2s;
                transition: height .2s;
            }
            
            .main-nav>div>nav>ul>li {
                width: auto;
                padding-left: 0;
            }
            
            .main-nav ul li a {
                text-decoration: none;
                display: block;
                margin: 0;
                -webkit-transition: color .2s ease;
                -moz-transition: color .2s ease;
                -ms-transition: color .2s ease;
                -o-transition: color .2s ease;
                transition: color .2s ease;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            .main-nav>div>nav>ul>li>a {
                color: #fff;
                padding: 15px 20px;
                font-size: 14px;
                z-index: 2;
                position: relative;
            }
            
            #g-navigation .g-main-nav .g-toplevel>li:hover>.g-menu-item-container {
                color: white !important;
            }
            
            #g-navigation .g-main-nav .g-toplevel>li.active>.g-menu-item-container>.g-menu-item-content {
                box-shadow: none;
            }
            
            .main-nav>div>nav>ul>li:hover>a,
            .main-nav>div>nav>ul>li.active>a {
                z-index: 2;
            }
            
            .main-nav>div>nav>ul>li:hover:after,
            .main-nav>div>nav>ul>li.active:after {
                height: 100%;
                color: white;
            }
            
            .main-nav>div>nav>ul>li.g-menu-item.g-menu-item-type-component.g-standard>a>span>span {
                font-size: 18px;
                font-family: 'Mermaid';
                letter-spacing: 1px;
            }
            
            .main-nav>div>nav>ul>li.g-menu-item.g-menu-item-link-parent.g-menu-item-type-url.g-parent.g-standard>a>span.g-menu-item-content>span {
                font-size: 18px;
            }
            
            #g-navigation .g-main-nav .g-toplevel>li {
                margin: 0 0;
            }
            
            .g-main-nav .g-standard .g-sublevel>li {
                position: relative;
                border-bottom: 1px solid #3e437f;
            }
            
            .g-main-nav .g-sublevel>li {
                margin: 0;
                padding: 0;
                height: 43px;
            }
            /**** Main Navigation Sub Menu ****/
            
            #g-navigation .g-main-nav .g-dropdown {
                background: $dblue;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 0.25rem;
                width: 235px;
                font-family: 'Mermaid';
            }
            
            .g-main-nav .g-sublevel>li>.g-menu-item-container>.g-menu-item-content {
                word-break: normal;
                vertical-align: top;
                font-size: 18px;
                width: 232px;
                padding: 5px 0px 5px 5px;
                z-index: 2;
            }
            
            #g-navigation .g-main-nav .g-sublevel>li>.g-menu-item-container {
                color: #fff;
                z-index: 2;
            }
            
            .g-main-nav .g-sublevel>li:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 0;
                top: 0;
                z-index: 0;
                background: #1c2159;
                -webkit-transition: height 0.2s;
                -moz-transition: height 0.2s;
                -ms-transition: height 0.2s;
                -o-transition: height 0.2s;
                transition: height 0.2s;
            }
            
            .g-main-nav .g-sublevel>li:hover:after,
            .g-main-nav .g-sublevel>li.active:after {
                height: 100%;
                color: white;
            }
            
            .g-main-nav .g-standard>.g-dropdown,
            .g-main-nav .g-fullwidth>.g-dropdown {
                margin-top: 0px;
            }
            
            #g-navigation .g-main-nav .g-sublevel>li>.g-menu-item-container {
                margin-left: 20px;
            }
            
            #g-navigation .g-main-nav .g-sublevel>li:not(:last-child)>.g-menu-item-container {
                border-bottom: none;
                color: white;
            }
            
            #g-navigation .g-main-nav .g-dropdown a:hover {
                color: white !important;
            }
            /**** Tweets ****/
            
            #g-sectionb {
                height: 670px;
                padding-top: 60px;
            }
            
            .twitter-feed-block .g-particle {
                background-color: #f8f8f8;
                width: 655px;
                height: 500px;
                margin-left: -55px;
                top: 15px;
                position: relative;
            }
            
            .twitter-name {
                color: black;
                font-weight: bold;
                font-size: 14px;
                font-family: sans-serif;
                position: relative;
                left: 80px;
            }
            
            .twitter-name:before {
                content: "";
                background-image: url(../images/desktop/icons/steve-dodd-twitter.jpg);
                position: absolute;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                left: -55px;
            }
            
            .twitter-tag {
                font-size: 14px;
                color: #657786;
                font-weight: normal;
                font-family: "Segoe UI", Arial, sans-serif;
            }
            
            #twitter-widget-0 {
                top: 45px;
                position: relative !important;
                left: 25px;
                width: 575px !important;
            }
            
            .twitter-follow {
                border: 1px solid #5ab4f0;
                padding: 6px 30px;
                border-radius: 25px;
                color: #1e9dec;
                font-weight: bold;
                right: 100px;
                position: absolute;
                font-size: 14px;
            }
            
            .twitter-follow:hover {
                background-color: #1e9dec;
                color: white;
            }
            /**** Footer ****/
            
            .footer-contact>p {
                font-family: 'Mermaid';
                font-size: 21px;
            }
            
            .footer-contact>p>a {
                font-family: 'Mermaid';
                font-size: 21px;
                margin-left: 15px;
                position: relative;
                color: white;
            }
            
            .footer-contact>p>a:hover {
                color: $red;
            }
            
            a.footer-email {
                color: $red !important;
            }
            
            a.footer-email:hover {
                color: white !important;
            }
            
            #g-footer {
                background-image: url(../images/desktop/backgrounds/footer-background.jpg);
                color: #fff;
                padding: 3rem 0;
                padding-bottom: 0;
                height: 300px;
            }
            
            .g-powered-by {
                color: white;
            }
            
            .g-powered-by:hover {
                color: $red;
            }
            
            .g-footer-link {
                color: white;
            }
            
            .g-footer-link:hover {
                color: $red;
            }
            
            #g-footer .copyright {
                font-size: 13px;
                font-family: 'Open Sans';
            }
            
            #g-footer .g-branding {
                font-size: 13px;
                font-family: 'Open Sans';
            }
            
            #g-footer>div>div:nth-child(2) {
                margin-top: 15px;
                margin-bottom: 0;
            }
            /**** Why Study with Us? ****/
            
            #g-sectiona {
                background-image: url(../images/desktop/backgrounds/WhyStudy-background.jpg);
                height: 565px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            h3.g-main-title {
                font-size: 45px;
                font-family: 'Mermaid';
                color: $dblue;
            }
            
            .uk-dotnav {
                margin: 0;
                margin-top: 55px;
                margin-left: -15px;
            }
            
            .uk-slidenav-position .uk-slidenav {
                margin-top: -13.5px;
                opacity: 1;
                display: block;
                -webkit-transition: opacity 0.3s, background 0.2s;
                -moz-transition: opacity 0.3s, background 0.2s;
                transition: opacity 0.3s, background 0.2s;
                background-color: $red;
                height: 45px;
                width: 45px;
                font-size: 40px;
                padding: 2px;
                font-weight: 500;
            }
            
            .g-introtext {
                font-size: 15px;
                color: $dblue;
                margin-top: -15px;
            }
            
            .g-feedback.style3,
            .g-feedback-slider.style3,
            .g-feedback-slideset.style3 {
                text-align: center;
                padding-top: 65px;
            }
            
            .g-particle-intro .g-introtext {
                width: 75%;
                margin: 0 auto;
                margin-top: -25px;
            }
            
            .g-feedback-text {
                font-size: 30px;
                font-family: 'Mermaid';
                color: $red;
                line-height: 30px;
                padding: 60px 100px 60px 100px;
                background-color: white;
                width: 980px;
                left: 85px;
                height: 190px;
                font-style: normal !important;
            }
            
            .uk-slider-container {
                height: 190px;
            }
            
            .uk-dotnav>*>:focus,
            .uk-dotnav>*>:hover {
                background: red;
                outline: 0;
            }
            
            .uk-dotnav>*>:active {
                background: red;
            }
            
            .uk-dotnav>*>* {
                display: block;
                box-sizing: content-box;
                width: 12px;
                height: 12px;
                border-radius: 0%;
                background: $dblue;
                text-indent: 100%;
                overflow: hidden;
                white-space: nowrap;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
            /**** Contact Us Form ****/
            
            #g-sectionc {
                background-color: $red;
            }
            
            .rsform h2 {
                text-align: center;
                color: white;
                font-family: 'Mermaid';
                font-size: 45px;
                margin-top: 75px;
                margin-bottom: 50px;
            }
            
            input[type="text"],
            input[type="email"],
            .uneditable-input,
            {
                height: 55px;
                padding: 20px;
                margin-bottom: 40px;
                border-radius: 0;
            }
            
            input[type="color"]:hover,
            input[type="date"]:hover,
            input[type="datetime"]:hover,
            input[type="datetime-local"]:hover,
            input[type="email"]:hover,
            input[type="month"]:hover,
            input[type="number"]:hover,
            input[type="password"]:hover,
            input[type="search"]:hover,
            input[type="tel"]:hover,
            input[type="text"]:hover,
            input[type="time"]:hover,
            input[type="url"]:hover,
            input[type="week"]:hover,
            input:not([type]):hover,
            textarea:hover {
                box-shadow: inset 0 0px 0px #282d6e, 0 0 24px #282d6e;
                border-color: #becaa9;
            }
            
            textarea {
                border-radius: 0;
                padding: 20px;
                margin-bottom: 40px;
            }
            
            .rsform .g-content {
                padding-right: 18px;
                margin-right: 0;
                padding-bottom: 0px;
                margin-bottom: 0;
                padding-top: 0px;
                margin-top: 0;
            }
            
            input::placeholder,
            textarea::placeholder {
                color: $red;
                font-family: 'Mermaid';
                font-size: 18px;
            }
            
            #rsform_3_page_0>div>div.g-block.size-100>div>div:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            form {
                margin: 0px 0 78px;
            }
            
            button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger,
            #Send {
                padding: 0.9em 4.5em;
                cursor: pointer;
                background: #282d6e;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 21px;
                font-family: 'Mermaid';
                color: white;
                text-transform: none;
                line-height: 21px;
                width: 258px;
                text-align: center;
            }
            
            #Send:hover,
            button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger:hover,
            {
                color: $dblue;
            }
            
            .hvr-bounce-to-bottom:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: white !important;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            /**** Footer Images ****/
            
            .picturebox {
                width: 100%;
                background-repeat: no-repeat;
                border: none;
                BACKGROUND-SIZE: COVER;
                height: 480px;
            }
            
            @media (min-width: 960px) and (max-width:1199px) {
                #g-sectiona {
                    background-image: url(../images/desktop/backgrounds/WhyStudy-background.jpg?5bc85501);
                    height: 465px;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                body p {
                    margin: 1rem 0;
                    font-size: 15px;
                    line-height: 20px;
                }
                h3.g-title.g-main-title {
                    font-size: 45px;
                    font-family: 'Mermaid';
                    color: #282d6e;
                }
                /**** Header ****/
                #g-header {
                    background-color: white;
                    padding: 0rem 0;
                    position: relative;
                    z-index: 10;
                    background: none;
                    background-size: cover;
                    height: 145px;
                }
                a.large-phone {
                    color: #282d6e !important;
                    font-size: 35px;
                    font-family: 'Mermaid';
                    margin-right: 20px;
                    position: relative;
                    bottom: 10px;
                }
                .social-link {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    margin: 32px 4px 0 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                /**** Navigation ****/
                #g-navigation .g-main-nav .g-toplevel>li>.g-menu-item-container {
                    color: white;
                    padding: 10px 12px;
                    font-family: 'Mermaid';
                    margin-top: 4px;
                }
                .main-nav>div>nav>ul>li.active.g-menu-item.g-menu-item-type-component.g-standard>a>span>span {
                    font-size: 15px;
                }
                .main-nav>div>nav>ul>li.g-menu-item.g-menu-item-type-component.g-standard>a>span>span {
                    font-size: 15px;
                }
                .main-nav>div>nav>ul>li.g-menu-item.g-menu-item-type-component.g-standard>a>span>span {
                    font-size: 15px;
                }
                .main-nav>div>nav>ul>li.g-menu-item.g-menu-item-link-parent.g-menu-item-type-url.g-parent.g-standard>a>span.g-menu-item-content>span {
                    font-size: 15px;
                }
                /**** Sub menu navigation ****/
                .g-main-nav .g-sublevel>li>.g-menu-item-container>.g-menu-item-content {
                    word-break: normal;
                    vertical-align: top;
                    font-size: 15px;
                    width: 232px;
                    padding: 5px 0px 5px 5px;
                    z-index: 2;
                }
                /**** Why Study with us? ****/
                .g-feedback-text {
                    font-size: 30px;
                    font-family: 'Mermaid';
                    color: #d61822;
                    line-height: 30px;
                    padding: 50px 80px 50px 80px;
                    background-color: white;
                    width: 750px;
                    left: 80px;
                    height: 190px;
                }
                .twitter-feed-block .g-particle {
                    background-color: #f8f8f8;
                    width: 100%;
                    height: 500px;
                    margin-left: -55px;
                    top: 15px;
                    position: relative;
                }
                #twitter-widget-0 {
                    top: 45px;
                    position: relative !important;
                    left: 25px;
                    width: 414px !important;
                }
                #g-footer .copyright {
                    font-size: 11px;
                    font-family: 'Open Sans';
                }
                #g-footer .g-branding {
                    font-size: 11px;
                    font-family: 'Open Sans';
                }
                .footer-contact>p {
                    font-family: 'Mermaid';
                    font-size: 17px;
                }
                .footer-contact>p>a {
                    font-family: 'Mermaid';
                    font-size: 17px;
                    margin-left: 15px;
                    position: relative;
                    color: white;
                }
                h3.g-title {
                    color: #d61822;
                    font-family: 'Mermaid';
                    margin-bottom: -10px;
                    font-size: 23px;
                    margin-top: -7px;
                    line-height: 25px;
                }
            }
            /**** Tablet ****/
            
            @media (min-width: 768px) and ( max-width:959px) {
                .itemid-169 {
                    .banner {
                        background-image: url(../images/tablet/banner/contact-us-banner.jpg?5bc85501);
                        height: 244px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                h3.g-title.g-main-title {
                    font-size: 45px;
                    font-family: 'Mermaid';
                    color: #282d6e;
                }
                .sample-content>div>div:nth-child(2)~.splitlink {
                    display: none;
                }
                /**** General ****/
                h2[itemprop="headline"] {
                    color: #282d6e;
                    font-size: 44px;
                    font-family: 'Mermaid';
                    margin-bottom: -71px;
                    margin-top: 5px;
                }
                h3.g-title {
                    color: #d61822;
                    font-family: 'Mermaid';
                    margin-bottom: -10px;
                    font-size: 26px;
                    margin-top: -7px;
                    line-height: 34px;
                }
                /**** Header ****/
                .header-tagline {
                    font-size: 12px;
                    font-family: 'Open Sans';
                    margin-top: 11px;
                    color: #282d6e;
                    padding-left: 14px;
                }
                #g-header img {
                    width: auto\9;
                    height: auto;
                    max-width: 150%;
                    display: inline-block;
                    vertical-align: middle;
                    border: 0;
                    -ms-interpolation-mode: bicubic;
                }
                #g-header>div>div>div.g-block.size-50.align-right {
                    background-image: none;
                    background-repeat: no-repeat;
                    background-position: 187px -40px;
                }
                #g-header div.g-block.size-20 {
                    display: none;
                }
                #g-header div.g-block.size-50 {
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    box-flex: 0;
                    -webkit-flex: 0 70%;
                    -moz-flex: 0 70%;
                    -ms-flex: 0 70%;
                    flex: 0 70%;
                    width: 70%;
                }
                a.large-phone {
                    color: #282d6e !important;
                    font-size: 40px;
                    font-family: 'Mermaid';
                    right: 15%;
                    position: relative;
                    bottom: 0;
                    top: 10px;
                }
                .header-email {
                    font-size: 12px;
                    font-family: 'Open Sans';
                    color: #282d6e;
                    padding-right: 15px;
                }
                .fa-navicon:before,
                .fa-reorder:before,
                .fa-bars:before {
                    content: "";
                    background-image: url(../images/tablet/icons/tabber.png?5bc5bd40);
                    height: 100px;
                    width: 100px;
                    position: absolute;
                    background-position: center;
                    background-repeat: no-repeat;
                    right: -40%;
                    top: 46px;
                }
                /**** Why study with us? ****/
                #g-sectiona {
                    background-image: url(../images/desktop/backgrounds/WhyStudy-background.jpg);
                    height: 390px;
                    background-attachment: scroll;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                #g-sectiona .g-content {
                    margin-left: 0;
                    padding-left: 0;
                }
                .g-feedback.style3,
                .g-feedback-slider.style3,
                .g-feedback-slideset.style3 {
                    text-align: center;
                    padding-top: 18px;
                }
                .g-particle-intro .g-title-separator.no-intro-text {
                    margin: 2.5rem auto 0;
                    display: none;
                }
                .g-particle-intro {
                    margin-bottom: 50px;
                    text-align: center;
                    margin-top: 20px;
                }
                .uk-slidenav-position .uk-slidenav {
                    margin-top: -20.5px;
                    opacity: 1;
                    display: block;
                    -webkit-transition: opacity 0.3s, background 0.2s;
                    -moz-transition: opacity 0.3s, background 0.2s;
                    transition: opacity 0.3s, background 0.2s;
                    background-color: #d61822;
                    height: 45px;
                    width: 45px;
                    font-size: 40px;
                    padding: 2px;
                    font-weight: 500;
                }
                .g-feedback-text {
                    font-size: 30px;
                    font-family: 'Mermaid';
                    color: #d61822;
                    line-height: 30px;
                    padding: 30px 30px 30px 30px;
                    background-color: white;
                    width: 580px;
                    left: 82px;
                    height: 190px;
                    font-style: normal !important;
                }
                #g-sectionc .size-60 {
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    box-flex: 0;
                    -webkit-flex: 0 96%;
                    -moz-flex: 0 96%;
                    -ms-flex: 0 96%;
                    flex: 0 96%;
                    width: 96%;
                }
                #g-sectionc .size-20 {
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    box-flex: 0;
                    -webkit-flex: 0 4%;
                    -moz-flex: 0 4%;
                    -ms-flex: 0 4%;
                    flex: 0 4%;
                    width: 4%;
                }
                .rsform h2 {
                    text-align: center;
                    color: white;
                    font-family: 'Mermaid';
                    font-size: 45px;
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                input[type="text"],
                input[type="email"],
                .uneditable-input {
                    height: 55px;
                    padding: 20px;
                    margin-bottom: 20px !important;
                    border-radius: 0;
                }
                button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger,
                #Send {
                    margin-top: 0;
                }
                form {
                    margin: 0px 0 52px;
                }
                /*** Footer ***/
                #g-footer {
                    background-image: url(../images/desktop/backgrounds/footer-background.jpg);
                    color: #fff;
                    padding: 1rem 0;
                    padding-bottom: 0;
                    height: 300px;
                }
                #g-footer .size-35 {
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    box-flex: 0;
                    -webkit-flex: 0 50%;
                    -moz-flex: 0 50%;
                    -ms-flex: 0 50%;
                    flex: 0 50%;
                    width: 50%;
                }
                #g-footer .size-32 {
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    box-flex: 0;
                    -webkit-flex: 0 50%;
                    -moz-flex: 0 50%;
                    -ms-flex: 0 50%;
                    flex: 0 50%;
                    width: 50%;
                }
                .social-link-footer {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    margin: 0px 5px 0 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 5px;
                    position: relative;
                }
                #g-footer img {
                    margin-top: 35px;
                }
                #g-footer>div>div:nth-child(2) {
                    margin-top: -14px;
                    margin-bottom: 0;
                }
                #g-footer .g-branding {
                    font-size: 13px;
                    font-family: 'Open Sans';
                    padding-left: 15px;
                    position: relative;
                    display: block;
                }
            }
            
            @media (max-width: 767px) {
                .itemid-169 {
                    .banner {
                        background-image: url(../images/mobile/banner/contact-us-banner.jpg);
                        height: 225px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                #g-header {
                    .g-container {
                        width: 100%;
                    }
                }
                .sample-content>div>div:nth-child(2)~.splitlink {
                    display: none;
                }
                h2[itemprop="headline"] {
                    color: #282d6e;
                    font-size: 46px;
                    font-family: 'Mermaid';
                    margin-bottom: -40px;
                    margin-top: 30px;
                    line-height: 50px;
                }
                h3.g-title {
                    color: #d61822;
                    font-family: 'Mermaid';
                    margin-bottom: -10px;
                    font-size: 26px;
                    margin-top: 0px;
                    line-height: 40px;
                }
                .contact-header {
                    text-align: center !important;
                }
                #g-header {
                    background-color: white;
                    padding: 0rem 0;
                    position: relative;
                    z-index: 10;
                    background: none;
                    background-size: cover;
                    height: 185px;
                    border-bottom: 4px solid #282d6e;
                }
                .fa-navicon:before,
                .fa-reorder:before,
                .fa-bars:before {
                    content: "";
                    background-image: url(../images/tablet/icons/tabber.png?5bc5bd40);
                    height: 100px;
                    width: 100px;
                    position: absolute;
                    background-position: center;
                    background-repeat: no-repeat;
                    right: -40%;
                    top: 40px;
                }
                #g-header>div>div>div.g-block.size-50.align-right {
                    background-image: none;
                }
                .header-social>div {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 10px;
                    margin-right: 0;
                    text-align: center;
                }
                a.large-phone {
                    color: #282d6e !important;
                    font-size: 35px;
                    font-family: 'Mermaid';
                    margin-right: 0;
                    position: relative;
                    bottom: 40px;
                }
                #custom-1435-particle>video {
                    height: 220px !important;
                    width: 318px !important;
                    text-align: center;
                    margin: 0 auto;
                    position: relative;
                    display: block;
                }
                /**** Why study with us? ****/
                #g-sectiona {
                    background-image: url(../images/desktop/backgrounds/WhyStudy-background.jpg);
                    height: 100%;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                h3.g-main-title {
                    font-size: 45px;
                    font-family: 'Mermaid';
                    color: #282d6e;
                    line-height: 50px;
                }
                .uk-slider-container {
                    height: 230px;
                }
                .uk-slidenav-position .uk-slidenav {
                    display: none;
                }
                .g-feedback-text {
                    font-size: 22px;
                    font-family: 'Mermaid';
                    color: #d61822;
                    line-height: 30px;
                    padding: 20px 20px 20px 20px;
                    background-color: white;
                    width: 100%;
                    left: 0;
                    height: 230px;
                    font-style: normal !important;
                }
                .g-particle-intro {
                    margin-bottom: 0;
                    text-align: center;
                    margin-top: -15px;
                }
                .g-feedback.style3,
                .g-feedback-slider.style3,
                .g-feedback-slideset.style3 {
                    text-align: center;
                    padding-top: 65px;
                    padding-bottom: 20px;
                }
                /**** Contact form ****/
                form {
                    margin: 0px 0 58px;
                }
                .rsform h2 {
                    text-align: center;
                    color: white;
                    font-family: 'Mermaid';
                    font-size: 45px;
                    margin-top: 35px;
                    margin-bottom: 20px;
                }
                .rsform .g-content {
                    padding-right: 20px;
                    margin-right: 0;
                    padding-bottom: 0px;
                    margin-bottom: 0;
                    padding-top: 0px;
                    margin-top: 0;
                    padding-left: 20px;
                }
                input[type="text"],
                input[type="email"],
                .uneditable-input {
                    height: 55px;
                    padding: 20px;
                    margin-bottom: 20px;
                    border-radius: 0;
                }
                button.hvr-bounce-to-bottom.rsform-reset-button.btn.btn-danger {
                    display: none;
                }
                #Send {
                    cursor: pointer;
                    background: #282d6e;
                    text-decoration: none;
                    -webkit-tap-highlight-color: transparent;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 25px;
                    font-family: 'Mermaid';
                    color: white;
                    text-transform: none;
                    line-height: 21px;
                    width: 100%;
                    text-align: center;
                    padding: 20px 50px;
                    margin: 0 auto;
                    margin-top: -15px;
                }
                /**** Footer ****/
                #g-footer {
                    background-image: url(../images/desktop/backgrounds/footer-background.jpg);
                    color: #fff;
                    padding: 0rem 0;
                    padding-bottom: 0;
                    height: 550px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                #g-footer a>img {
                    margin: 0 auto;
                    position: relative;
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                }
                .footer-contact>p {
                    font-family: 'Mermaid';
                    font-size: 17px;
                }
                .footer-contact>p>a {
                    font-family: 'Mermaid';
                    font-size: 18px;
                    margin-left: 15px;
                    position: relative;
                    color: white;
                }
                .social-icons {
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                }
                .social-link-footer {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    margin: 0px 5px 0 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 25px;
                    position: relative;
                }
                #g-footer .copyright {
                    font-size: 13px;
                    font-family: 'Open Sans';
                    text-align: center;
                    line-height: 13px;
                    margin-top: 35px;
                }
                #g-footer .g-branding {
                    font-size: 13px;
                    font-family: 'Open Sans';
                    text-align: center;
                    position: relative;
                }
                #g-footer>div>div:nth-child(2)>div.g-block.size-40.align-right {
                    bottom: 40px;
                    position: relative;
                    height: 10px;
                }
                .privacy {
                    color: white;
                    text-align: center;
                    width: 100%;
                    font-size: 13px;
                }
            }
            
            .g-block.size-50.twitter-feed-block {
                overflow-y: scroll;
                overflow-x: hidden;
            }