    /**** Homepage Banner ****/
    
    .itemid-101 {
        #g-banner {
            background-image: url(../images/desktop/backgrounds/video-background.jpg);
            height: 640px;
        }
        #g-main {
            margin-bottom: 20px;
            height: 1010px;
        }
        .video-title {
            font-size: 67px;
            color: white;
            line-height: 80px;
            font-family: 'Mermaid';
            right: 15px;
            position: relative;
            width: 92%;
        }
        #g-banner>div>div {
            top: 120px;
            position: relative;
            display: inline-flex;
        }
        .video-btn {
            padding: 0.2em 2.5em;
            cursor: pointer;
            background: $dblue;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 25px;
            font-family: 'Mermaid';
            color: white;
            margin-top: 45px;
        }
        .video-btn:hover {
            color: $dblue;
        }
        .hvr-bounce-to-bottom:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: .5s;
            transition-duration: .5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        /**** Feature Boxes ****/
        .feature-box-left {
            background-image: url(../images/desktop/backgrounds/purple-beatles.jpg);
            height: 222px;
            width: 600px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .feature-box-right {
            background-image: url(../images/desktop/backgrounds/red-letterbox.jpg);
            height: 220px;
            width: 600px;
            background-repeat: no-repeat;
        }
        .feature-box-right>h2 {
            margin: 0;
            padding-top: 40px;
            font-size: 30px;
            color: white;
            font-family: 'Mermaid';
            padding-right: 30px;
            text-align: right;
        }
        .feature-box-left>h2 {
            margin: 0;
            padding-top: 30px;
            font-size: 30px;
            color: white;
            font-family: 'Mermaid';
            padding-left: 30px;
        }
        .feature-box-left>p {
            text-align: left;
            padding-left: 30px;
            color: white;
            font-size: 15px;
            margin-right: 50px;
        }
        .feature-box-right>p {
            text-align: right;
            padding-right: 30px;
            color: white;
            font-size: 15px;
            margin-left: 50px;
        }
        .feature-box-image {
            background-image: url(../images/desktop/backgrounds/liverpoolbuilding.jpg);
            height: 442px;
            width: 585px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .feature-box-btn-right {
            padding: 15px 40px;
            cursor: pointer;
            background: #282d6e;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 20px;
            font-family: 'Mermaid';
            color: white;
            float: right;
            margin-right: 30px;
        }
        .feature-box-btn-left:hover {
            color: $red;
        }
        .feature-box-btn-right:hover {
            color: $dblue;
        }
        .feature-box-btn-left {
            padding: 15px 40px;
            cursor: pointer;
            background: $red;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 20px;
            font-family: 'Mermaid';
            color: white;
            float: left;
            margin-left: 30px;
        }
        .split {
            overflow: hidden;
            width: 100%;
            padding-top: 71px;
        }
        .split>div {
            width: 50%;
            float: left;
            text-align: justify;
            line-height: 18px;
        }
        .split>div:last-child {
            width: 46%;
            line-height: 18px;
            position: relative;
        }
        .feature-box-image-right {
            background-image: url(../images/desktop/backgrounds/LiverBuildingSide.jpg);
            height: 440px;
            line-height: 18px;
            position: relative;
            background-size: cover;
        }
        .feature-box-courses {
            background-image: url(../images/desktop/backgrounds/purple-liverbird.jpg);
            height: 440px;
            line-height: 18px;
            position: relative;
            background-size: cover;
        }
        .split-1-2 {
            overflow: hidden;
            width: 100%;
        }
        .split-1-2>div {
            width: 68%;
            float: left;
            text-align: justify;
            line-height: 18px;
        }
        .split-1-2>div:last-child {
            width: 32%;
            line-height: 18px;
            position: relative;
        }
        .feature-box-courses>h2 {
            margin: 0;
            padding-top: 70px;
            font-size: 30px;
            color: white;
            font-family: 'Mermaid';
            padding-left: 60px;
            margin-bottom: 25px;
        }
        .feature-box-courses>p {
            padding-left: 60px;
            color: white;
            padding-right: 100px;
        }
        .feature-box-courses-btn {
            padding: 15px 40px;
            cursor: pointer;
            background: #d61822;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 20px;
            font-family: 'Mermaid';
            color: white;
            float: left;
            margin-left: 60px;
        }
        .feature-box-courses-btn:hover {
            color: $red;
        }
        .feature-box-courses>ul {
            margin-top: 35px;
            padding-left: 60px;
            line-height: 25px;
            height: 100px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .feature-box-courses>ul>li>a {
            color: white;
        }
        .feature-box-courses>ul>li>a:hover {
            color: $red;
            text-decoration: underline;
        }
    }
    
    @media (min-width:960px) and (max-width:1199px) {
        .itemid-101 {
            #g-banner .size-30 {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                box-flex: 0;
                -webkit-flex: 0 45%;
                -moz-flex: 0 45%;
                -ms-flex: 0 45%;
                flex: 0 45%;
                width: 45%;
            }
            #g-banner .size-20 {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                box-flex: 0;
                -webkit-flex: 0 5%;
                -moz-flex: 0 5%;
                -ms-flex: 0 5%;
                flex: 0 5%;
                width: 5%;
            }
            .video-btn {
                padding: 0.2em 2.5em;
                cursor: pointer;
                background: #282d6e;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 25px;
                font-family: 'Mermaid';
                color: white;
                margin-top: 10px;
            }
            .video-title {
                font-size: 56px;
                color: white;
                line-height: 56px;
                font-family: 'Mermaid';
                right: 15px;
                position: relative;
                margin-top: 70px;
            }
            #custom-1435-particle>video {
                width: 450px;
                height: 380px;
            }
            .feature-box-left {
                background-image: url(../images/desktop/backgrounds/purple-beatles.jpg?5b979020);
                height: 222px;
                width: 500px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .feature-box-right {
                background-image: url(../images/desktop/backgrounds/red-letterbox.jpg?5b9790b0);
                height: 220px;
                width: 500px;
                background-repeat: no-repeat;
            }
        }
    }
    
    @media (min-width: 1200px) and (max-width:1850px) {
        .itemid-101 {
            #g-banner .size-30 {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                box-flex: 0;
                -webkit-flex: 0 43%;
                -moz-flex: 0 43%;
                -ms-flex: 0 43%;
                flex: 0 43%;
                width: 43%;
            }
            #g-banner .size-20 {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                box-flex: 0;
                -webkit-flex: 0 5%;
                -moz-flex: 0 5%;
                -ms-flex: 0 5%;
                flex: 0 5%;
                width: 5%;
            }
            .video-title {
                font-size: 60px;
                color: white;
                line-height: 80px;
                font-family: 'Mermaid';
                right: 15px;
                position: relative;
                width: 92%;
                float: right;
            }
            .video-btn {
                padding: 0.2em 2.5em;
                cursor: pointer;
                background: #282d6e;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 25px;
                font-family: 'Mermaid';
                color: white;
                margin-top: 45px;
                margin-left: 35px;
            }
        }
    }
    
    @media (min-width: 768px) and (max-width: 959px) {
        .itemid-101 {
            .feature-box-image {
                background-image: url(../images/desktop/backgrounds/liverpoolbuilding.jpg?5bc85501);
                height: 442px;
                width: 585px;
                background-size: 330px 442px;
                background-repeat: no-repeat;
                background-position: center;
            }
            #g-banner {
                background-image: url(../images/tablet/backgrounds/video-background.jpg);
                height: 638px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #g-banner>div>div {
                top: 44px;
                position: relative;
                display: inline-flex;
            }
            #g-banner .size-30 {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                box-flex: 0;
                -webkit-flex: 0 100%;
                -moz-flex: 0 100%;
                -ms-flex: 0 100%;
                flex: 0 100%;
                width: 100%;
            }
            .video-title {
                font-size: 42px;
                color: white;
                line-height: 42px;
                font-family: 'Mermaid';
                right: 0;
                position: relative;
                width: 80%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            #custom-1435-particle>video {
                display: table;
                margin: 0 auto;
            }
            .split {
                overflow: hidden;
                width: 100%;
                padding-top: 18px;
            }
            .split>div {
                width: 42.5%;
                float: left;
                text-align: justify;
                line-height: 18px;
            }
            .split>div:last-child {
                width: 57%;
                line-height: 18px;
                position: relative;
            }
            #g-main {
                margin-bottom: 20px;
                height: 858px;
                padding-left: 1%;
                margin-right: 20px;
                position: relative;
                display: block;
            }
            .feature-box-left {
                background-image: none;
                background-color: #343b8b;
                height: 222px;
                width: 441px;
            }
            .feature-box-right {
                background-image: url(../images/desktop/backgrounds/red-letterbox.jpg);
                height: 220px;
                width: 441px;
                background-repeat: no-repeat;
            }
            .feature-box-left>p {
                text-align: left;
                padding-left: 25px;
                color: white;
                font-size: 15px;
                margin-right: 18px;
            }
            .feature-box-left>h2 {
                margin: 0;
                padding-top: 30px;
                font-size: 30px;
                color: white;
                font-family: 'Mermaid';
                padding-left: 25px;
            }
            .feature-box-btn-left {
                padding: 15px 48px;
                cursor: pointer;
                background: #d61822;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 20px;
                font-family: 'Mermaid';
                color: white;
                float: left;
                margin-left: 25px;
            }
            .feature-box-right>h2 {
                margin: 0;
                padding-top: 40px;
                font-size: 30px;
                color: white;
                font-family: 'Mermaid';
                padding-right: 25px;
                text-align: right;
            }
            .feature-box-right>p {
                text-align: right;
                padding-right: 25px;
                color: white;
                font-size: 15px;
                margin-left: 25px;
            }
            .feature-box-btn-right {
                padding: 15px 48px;
                cursor: pointer;
                background: #282d6e;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 20px;
                font-family: 'Mermaid';
                color: white;
                float: right;
                margin-right: 25px;
            }
            .split-1-2>div {
                width: 100%;
                float: left;
                text-align: justify;
                line-height: 18px;
            }
            .split-1-2>div:last-child {
                display: none;
            }
            .feature-box-courses {
                background-image: url(../images/desktop/backgrounds/purple-liverbird.jpg);
                height: 396px;
                line-height: 18px;
                position: relative;
                background-size: auto;
            }
            .feature-box-courses>h2 {
                margin: 0;
                padding-top: 55px;
                font-size: 30px;
                color: white;
                font-family: 'Mermaid';
                padding-left: 40px;
                margin-bottom: 20px;
            }
            .feature-box-courses>p {
                padding-left: 40px;
                color: white;
                padding-right: 30px;
            }
            .feature-box-courses-btn {
                padding: 15px 48px;
                cursor: pointer;
                background: #d61822;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 20px;
                font-family: 'Mermaid';
                color: white;
                float: left;
                margin-left: 40px;
            }
        }
    }
    
    @media (max-width: 767px) {
        .itemid-101 {
            #g-banner {
                background-image: url(../images/desktop/backgrounds/video-background.jpg);
                height: 490px;
            }
            #g-banner>div>div {
                top: 30px;
                position: relative;
                display: flex;
            }
            .video-title {
                font-size: 40px;
                color: white;
                line-height: 45px;
                font-family: 'Mermaid';
                right: 0;
                position: relative;
                width: 100%;
                text-align: center;
            }
            .split {
                overflow: hidden;
                width: 100%;
                padding-top: 35px;
            }
            .split>div:last-child {
                width: 100%;
                line-height: 18px;
                position: relative;
            }
            .feature-box-image {
                display: none;
            }
            .feature-box-left>h2 {
                margin: 0;
                padding-top: 40px;
                font-size: 30px;
                color: white;
                font-family: 'Mermaid';
                padding-left: 15px;
            }
            .feature-box-left>p {
                text-align: left;
                padding-left: 15px;
                color: white;
                font-size: 14px;
                margin-right: 15px;
            }
            .feature-box-left>h2 {
                margin: 0;
                padding-top: 40px;
                font-size: 30px;
                color: white;
                font-family: 'Mermaid';
                padding-left: 15px;
            }
            .feature-box-left {
                background-image: url(../images/desktop/backgrounds/purple-beatles.jpg);
                height: 260px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .feature-box-btn-left {
                padding: 20px 60px;
                cursor: pointer;
                background: #d61822;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 23px;
                font-family: 'Mermaid';
                color: white;
                float: left;
                margin-left: 15px;
            }
            .feature-box-right {
                background-image: url(../images/desktop/backgrounds/red-letterbox.jpg);
                height: 250px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .feature-box-right>p {
                text-align: right;
                padding-right: 15px;
                color: white;
                font-size: 14px;
                margin-left: 15px;
            }
            .feature-box-right>h2 {
                margin: 0;
                padding-top: 40px;
                font-size: 30px;
                color: white;
                font-family: 'Mermaid';
                padding-right: 15px;
                text-align: right;
            }
            .feature-box-btn-right {
                padding: 20px 60px;
                cursor: pointer;
                background: #282d6e;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 23px;
                font-family: 'Mermaid';
                color: white;
                float: right;
                margin-right: 15px;
            }
            .split-1-2>div:last-child {
                display: none;
            }
            .split-1-2>div {
                width: 100%;
                float: left;
                text-align: justify;
                line-height: 18px;
                height: 526px;
            }
            .feature-box-courses>h2 {
                margin: 0;
                padding-top: 55px;
                font-size: 32px;
                color: white;
                font-family: 'Mermaid';
                padding-left: 15px;
                margin-bottom: 25px;
            }
            .feature-box-courses>ul {
                margin-top: 40px;
                padding-left: 15px;
                line-height: 25px;
                height: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                line-height: 25px;
            }
            .feature-box-courses>p {
                padding-left: 15px;
                color: white;
                padding-right: 15px;
            }
            .feature-box-courses-btn {
                padding: 20px 60px;
                cursor: pointer;
                background: #d61822;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 23px;
                font-family: 'Mermaid';
                color: white;
                float: left;
                margin-left: 15px;
            }
        }
    }