@media (max-width: 959px) and (min-width: 768px) {
    #g-offcanvas {
        background-image: url(/templates/g5_helium/custom/images/mobile/backgrounds/mob-menu-bg.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    #g-offcanvas #g-mobilemenu-container ul {
        background: transparent;
    }
    .side-nav {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 100%;
        -moz-flex: 0 100%;
        -ms-flex: 0 100%;
        flex: 0 100%;
        width: 100%;
        padding-top: 30px;
        padding-left: 36px;
    }
    #g-offcanvas #g-mobilemenu-container ul>li.g-menu-item-link-parent>.g-menu-item-container>.g-menu-parent-indicator {
        border: 1px solid transparent;
        background: red;
        border-radius: 0.25rem;
        margin: -0.3rem 36px -1.2rem -1.5rem;
        padding: 0.2rem;
    }
    #g-offcanvas #g-mobilemenu-container ul>li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
        background: transparent;
        height: 40px;
    }
    #g-mobilemenu-container .g-toplevel li {
        display: block;
        position: static !important;
        margin-right: 0;
        cursor: pointer;
        height: 40px;
        background-color: transparent;
    }
    #g-offcanvas #g-mobilemenu-container ul>li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module):hover {
        background: transparent;
    }
    #g-offcanvas #g-mobilemenu-container ul>li>.g-menu-item-container {
        color: #fff !important;
        padding: 0.938rem;
    }
    #g-offcanvas #g-mobilemenu-container ul>li>.g-menu-item-container:hover {
        color: red !important;
    }
}

@media (max-width: 767px) {
    #g-offcanvas #g-mobilemenu-container ul>li>.g-menu-item-container {
        color: #fff !important;
        padding: 0.938rem;
    }
    #g-offcanvas #g-mobilemenu-container ul>li>.g-menu-item-container:hover {
        color: red !important;
    }
    #g-offcanvas {
        background-image: url(/templates/g5_helium/custom/images/mobile/backgrounds/mob-menu-bg.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    #g-offcanvas #g-mobilemenu-container ul {
        background: transparent;
    }
    #g-mobilemenu-container {
        margin: -1.563rem;
        margin-left: 25px;
    }
    .side-nav {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 100%;
        -moz-flex: 0 100%;
        -ms-flex: 0 100%;
        flex: 0 100%;
        width: 100%;
        padding-top: 30px;
        padding-left: 36px;
    }
    #g-offcanvas #g-mobilemenu-container ul>li.g-menu-item-link-parent>.g-menu-item-container>.g-menu-parent-indicator {
        border: 1px solid transparent;
        background: red;
        border-radius: 0.25rem;
        margin: -0.3rem 36px -1.2rem -1.5rem;
        padding: 0.2rem;
    }
    #g-offcanvas #g-mobilemenu-container ul>li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
        background: transparent;
        height: 40px;
    }
    #g-mobilemenu-container .g-toplevel li {
        display: block;
        position: static !important;
        margin-right: 0;
        cursor: pointer;
        height: 40px;
        background-color: transparent;
    }
    #g-offcanvas #g-mobilemenu-container ul>li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module):hover {
        background: transparent;
    }
}