.itemid-119 {
    .banner {
        background-image: url(../images/desktop/banner/project-banner.jpg);
        height: 275px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.project-video>div {
    margin-left: 0;
    margin-top: -138px;
}

.pairwork>div {
    margin-right: 0;
    margin-top: 0;
}

.project-text>div {
    margin-top: 0;
    padding-top: 10px;
}

.project-text ul {
    line-height: 17px;
}

.project-text li {
    padding-left: 1.5em;
    color: #424753;
    font-family: 'Open Sans';
    font-size: 17px;
}

#video_pop {
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
}

#the_Video {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#video-hp {
    background-image: url(../images/desktop/backgrounds/video-poster.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: 15px;
}

.video-play {
    width: 100%;
    display: inline-block;
    height: 500px;
}

.itemid-101 {
    .video-play {
        height: 375px;
    }
}

.video-play a:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.video-play a i {
    color: black;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 7px);
    font-size: 25px;
}

.video-play a {
    display: block;
    width: 90px;
    height: 91px;
    margin: 182px auto;
    background-color: white;
    opacity: 0.4;
    border-radius: 55px;
    position: relative;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width:960px) and (max-width:1199px) {
    .itemid-119 .project-video>div {
        margin-left: -25px;
        margin-top: -82px;
    }
}

@media (min-width:768px) and (max-width:959px) {
    .itemid-119 {
        .banner {
            background-image: url(../images/tablet/banner/project-banner.jpg);
            height: 244px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .pairwork {
            display: none;
        }
        .size-60 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 100%;
            -moz-flex: 0 100%;
            -ms-flex: 0 100%;
            flex: 0 100%;
            width: 100%;
        }
        #g-main>div>div:nth-child(3) {
            padding-left: 15px;
            padding-bottom: 0;
            margin-bottom: 0;
            height: 515px;
        }
        #g-main>div>div:nth-child(2)>div>div {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

@media (max-width: 767px) {
    .itemid-119 {
        .banner {
            background-image: url(../images/mobile/banner/project-banner.jpg);
            height: 225px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .pairwork {
            display: none;
        }
        .size-60 {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            box-flex: 0;
            -webkit-flex: 0 100%;
            -moz-flex: 0 100%;
            -ms-flex: 0 100%;
            flex: 0 100%;
            width: 100%;
        }
        #g-main>div>div:nth-child(2)>div>div {
            margin-bottom: 0;
        }
        #video-hp {
            background-image: url(../images/desktop/backgrounds/video-poster.jpg);
            background-size: auto;
            background-repeat: no-repeat;
            background-position-y: 15px;
            background-position: center;
            background-size: cover;
        }
        .video-play a {
            display: block;
            width: 70px;
            height: 70px;
            margin: 104px auto;
            background-color: white;
            opacity: 0.4;
            border-radius: 55px;
            position: relative;
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        }
        #g-main>div>div:nth-child(3) {
            padding-left: 15px;
            padding-bottom: 0;
            margin-bottom: 5px;
            height: 300px;
            padding-right: 15px;
        }
        .video-play {
            width: 100%;
            display: inline-block;
            height: 274px;
        }
        #g-main {
            margin-bottom: 0;
        }
    }
}